  //////////////////CROPPR STYLES////////////////////////////
  .croppr-container * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .croppr-container img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 650px;
    object-fit: cover;
    object-position: center;
  }

  .croppr {
    position: relative;
    display: inline-block;
  }

  .croppr-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: crosshair;
  }

  .croppr-region {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    cursor: move;
    top: 0;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, 1fr);
  }

  .croppr-imageClipped {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }

  .croppr-handle {
    border: 1px solid #ccc;
    background-color: #fafafa;
    width: 14px;
    height: 14px;
    position: absolute;
    z-index: 4;
    top: 0;
    border-radius: 50%;
  }

  //////////////////////////////////////////////////////////
