.EditImage {
  .flex-row-start {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start
  }

  .popup {
    width: 100vw;
    max-height: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    padding: 24px;
    color: white;
    box-sizing: border-box;
    animation-name: show;
    animation-duration: 0.4s;

    .image-container {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      flex-flow: row wrap;
      box-sizing: border-box;
      display: flex;
      place-content: flex-start center;
      align-items: flex-start;

      .image-holder-full {
        height: auto;
        width: auto;
        position: relative;
        display: contents;
      }
    }

    .material-icons {
      color: white;
    }

    img {
      max-height: 600px;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
      margin: 8px;
      transition: all .5s ease;
    }

    @media (max-width:1024px) {
      background-color: rgba(0, 0, 0, .85);
      padding: 8px;

      img {
        max-height: 100%;
        max-width: 100%;
      }

    }

    @media (max-width:599px) {
      img {
        margin: 0px;
      }

    }

    .control-panel {
      color: #fff;
      background-color: rgba(0, 0, 0, .92);
      margin: 8px;
      padding: 16px;
      max-width: 100%;
      width: 18rem;
      border-radius: 8px;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: stretch flex-start;
      align-items: stretch;
      max-width: 100%;
      position: relative;

      @media (max-width:599px) {
        margin: 8px 0px;
        width: 100%;

      }

      .title-panel {
        padding: 0px 4px;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 16px !important;
      }

      .item-panel {
        padding: 0px 0px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .image-croper {
    position: absolute;
    width: 180px;
    height: 180px;
    min-height: 64px;
    min-width: 64px;
    border: 2.5px solid #fafafa;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
    opacity: 0;
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;

    #image-croper-header {
      padding: 0px;
      cursor: move;
      z-index: 9;
      background-color: transparent;
      color: #fff;
      height: 100%;
      display: grid;
      gap: 0px;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: .8;

      .material-icons {
        color: #fff;

      }
    }

  }

  .input-range {
    margin-bottom: 16px;
    margin-top: 4px;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

  .form-field {
    margin-bottom: 16px;

    label {
      font-size: 12px;
      opacity: .92;
      margin-bottom: 4px;
      display: block;
    }

    input {
      height: 34px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      border: none;
      padding: 2px 8px;
      outline: none;
    }

    select {
      height: 34px;
      width: 100%;
      box-sizing: border-box;
      border-radius: 4px;
      border: none;
      padding: 2px 8px;
      outline: none;
      background-color: white;
    }
  }

  .save-btn {
    padding: 0px 8px;
    height: 34px;
    box-sizing: border-box;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:active {
      transform: scale(.95);
    }
  }

  .caption {
    font-size: 11px;
    margin-top: 2px !important;
    margin-bottom: 0px !important;
  }

  button[disabled] {
    filter: brightness(.5);
    cursor: not-allowed;
  }

  button:active {
    transform: scale(.95);
  }
}
