.ReactImagePickerEditor .place-image .image-holder {
  background-color: #111111 !important;
  color: #fff !important;
  .image-upload-btn .material-icons {
    color: #fff !important;
  }
}

.ReactImagePickerEditor .place-image .editing-bar-btn button {
  color: #fff !important;
}

.ReactImagePickerEditor .place-image .editing-bar-btn a {
  color: #fff !important;
}

.EditImage .form-field {
  input {
    background-color: #3b3b3b !important;
    color: #fff !important;
  }
  select {
    background-color: #3b3b3b !important;
    color: #fff !important;
  }
}
