.ReactImagePickerEditor {
  p {
    margin: 0px !important;
    padding: 0px !important;
  }

  .curtain {
    position: absolute;
    top: 0;
    display: grid;
    place-items: center;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: background-color ease .5s;
    cursor: pointer;

    button {
      background: transparent;
      border: none;
      cursor: pointer;

      .material-icons {
        font-size: 30px;
        color: #fff;
        opacity: 0;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, .4);
      transition: background-color ease .5s;


      button {
        .material-icons {
          color: #fff;
          opacity: 0.9;
        }
      }
    }
  }



  .place-image {

    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;


    .image-holder {
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: center;
      align-items: center;
      position: relative;
      border-radius: 16px;
      max-width: 100% !important;
      box-sizing: border-box;
      border: 2px rgba(0, 0, 0, .30) solid;
      background-color: #fcfcfc;

      @media (max-width:599px) {
        max-width: 100% !important;
        max-height: 250px !important;
      }

      .image-upload-btn {
        transition: all .5s ease;
        position: relative;
        opacity: 0.85;
        width: 50px;
        height: 50px;
        color: #424242;

        .material-icons {
          font-size: 50px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          color: #424242;
        }

        @media (max-width:599px) {
          opacity: 1.0;
          width: 30px;
          height: 30px;

          .material-icons {
            font-size: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        }
      }

      &:hover {
        .image-upload-btn {
          opacity: 1.0;
          transition: all .5s ease;
        }

      }
    }

    .image-holder-loaded {
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: center;
      align-items: center;
      position: relative;
      max-width: 100% !important;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 2px;

      .image-caption {
        position: absolute;
        right: 0;
        bottom: -22px;

      }

      img {
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        object-position: center;
        background: black;
      }

      @media (max-width:599px) {
        max-height: 195px !important;
      }

      .image-upload-btn {
        transition: all .5s ease;
        position: relative;
        opacity: 0.85;
        width: 50px;
        height: 50px;
        color: #424242;

        .material-icons {
          font-size: 50px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          color: #424242;
        }

        @media (max-width:599px) {
          opacity: 1.0;
          width: 30px;
          height: 30px;

          .material-icons {
            font-size: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        }
      }

      &:hover {
        .image-upload-btn {
          opacity: 1.0;
          transition: all .5s ease;
        }

      }
    }

    .editing-bar-btn {
      margin-top: 2px;

      .material-icons-button {
        height: 20px;
        line-height: 20px;
        width: 24px;
      }

      .material-icons {
        line-height: 20px !important;
        font-size: 20px !important;
        width: 20px !important;
        height: 20px !important;
      }


      button {
        margin: 4px 4px;
        color: #424242;
        transition: all .5s ease;

        &:hover {
          // transform: scale(1.25);
          // margin: 4px 8px;
          transition: all .25s ease-in;
        }

      }

      a {
        margin: 4px 4px;
        color: #424242;
        transition: all .5s ease;

        &:hover {
          // transform: scale(1.25);
          // margin: 4px 8px;
          transition: all .25s ease-in;
        }

      }



    }

  }

  .popup {
    width: 100vw;
    max-height: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    padding: 24px;
    color: white;
    box-sizing: border-box;
    animation-name: show;
    animation-duration: 0.4s;

    .image-container {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      flex-flow: row wrap;
      box-sizing: border-box;
      display: flex;
      place-content: flex-start center;
      align-items: flex-start;

      .image-holder-full {
        height: auto;
        width: auto;
        position: relative;
        display: contents;
      }
    }

    .material-icons {
      color: white;
    }

    img {
      max-height: 600px;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
      margin: 8px;
      transition: all .5s ease;
    }

    @media (max-width:1024px) {
      background-color: rgba(0, 0, 0, .85);
      padding: 8px;

      img {
        max-height: 100%;
        max-width: 100%;
      }

    }

    @media (max-width:599px) {
      img {
        margin: 0px;
      }

    }

    .control-panel {
      color: #fff;
      background-color: rgba(0, 0, 0, .92);
      margin: 8px;
      padding: 16px;
      max-width: 100%;
      width: 18rem;
      border-radius: 8px;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      place-content: stretch flex-start;
      align-items: stretch;
      max-width: 100%;

      @media (max-width:599px) {
        margin: 8px 0px;
        width: 100%;

      }

      .title-panel {
        padding: 0px 4px;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 16px !important;
      }

      .item-panel {
        padding: 0px 0px;
        font-size: 14px;
        font-weight: 500;
      }
    }


  }

  @keyframes show {
    0% {
      top: -100vh;
      opacity: 0;
    }

    100% {
      top: 0;
      opacity: 1;
    }
  }





  .btn {
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;

    .material-icons {
      color: rgba(0, 0, 0, 0.82);
    }
  }

  .icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    border-radius: 50%;
    cursor: pointer;

    :active {
      transform: scale(.95);
    }
  }



  .caption {
    font-size: 11px;
    margin-top: 2px !important;
    margin-bottom: 0px !important;
  }

  button[disabled] {
    filter: brightness(.5);
    cursor: not-allowed;
  }

  button:active {
    transform: scale(.95);
  }



}
